<h1>Getting Started</h1>

<p>
    <i>Ember-Idx-Tabs</i> is a multi panels defined with 1 single panel active at a time rendered as panels.
</p>

<p>
    <i>Ember-Idx-Tabs</i> is an Ember CLI module and can be simply installed by:
</p>

<p>
<ol>
    <li>
        <pre><code class="bash">npm install --save-dev ember-idx-tabs</code></pre>
    </li>
</ol>
</p>

<p>Want to see some code? check out the {{#link-to 'simple'}}Simple{{/link-to}} page</p>